.header .container {
    color:#a1a1a1;
    font-family:'Droid Sans', sans-serif;
    font-size: 1.55em;
    text-transform:uppercase;
    word-spacing: 1.7em;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.contactUs {
    
    
}
.col-md-6 p {
    width: 600px;
}
